<html>
<body>
<h3>${title}$</h3>

${
		
def page_link(link):
    return '<span style="border: solid 1px lightgrey; background_color: white; margin:4px; padding: 4px;">%s</span>'%(link)
		
def pager():
    result = ''
    if prevPage: result +=page_link(prevPage)
    if nextPage: result +=page_link(nextPage)
    return result
}$


${ if prevPage or nextPage: }$
<div style="text-align: right; width:90%; margin-left: 5%; margin-bottom: 8px;">
${print pager()}$
</div>
${:endif}$

${for book in books:}$
${
    if not book.get('links',[]):
        continue
    iurl = [l.href for l in book.links if l.rel==u'http://opds-spec.org/image/thumbnail'][0]
    title = book.title
    non_acq_links = []
    acq_links = []
    for l in book.links:
        #Non-acquisition links
        if l.rel == "alternate" and l.type in ["text/html", "application/atom+xml"]:
            non_acq_links.append('<a href="%s">%s</a>'%(l.href, l.title))
    for l in book.links:
        #acquisition links
        if l.rel == "http://opds-spec.org/acquisition":
            acq_links.append('<a href="%s">%s</a>'%(l.href, l.href.split('.')[-1]))
}$
<div style="min-height: 128px; border: solid 3px lightgrey; padding: 15px; border-radius: 15px; margin: 6px; -webkit-transition: all 500ms linear;" 
 onmouseover="this.style.border='solid 3px lightgreen'; this.style.backgroundColor='lightgreen'; "
 onmouseout="this.style.border='solid 3px lightgrey'; this.style.backgroundColor='white';"
 >
     <img width="64px" style="float: left; margin-right: 4px;" src="${iurl}$.jpg">
	 <div style="text-align: right; margin-top: 12px;">		
        <b>${title}$</b></br>
        ${
            emit(book.get('subtitle','').replace('Subtitle: </strong><br /><br />','')+'</br>')
            if non_acq_links:
                emit("&nbsp;".join(non_acq_links)+"</br>")
        }$
	</div>
</div>
${:end-for}$

${for link in links:}$
${
    if not link.get('links',[]):
        continue
    iurl = link.links[0].href
    if len(link.links) > 1:
        icon_url = link.links[1].href
        h = 'min-height: 128px;'
    else:
        icon_url = None
        h = ''
    title = link.title
    subtitle = link.get('subtitle','')
    if '<' not in subtitle:
	    subtitle = subtitle.replace('\n','<p>')
}$
<div style="${h}$ border: solid 3px lightgrey; padding: 15px; border-radius: 15px; margin: 6px; -webkit-transition: all 500ms linear;" 
 onmouseover="this.style.border='solid 3px lightgreen'; this.style.backgroundColor='lightgreen'; "
 onmouseout="this.style.border='solid 3px lightgrey'; this.style.backgroundColor='white';"
 >
     <img width="64px" style="float: right; margin-right: 4px;" src="${icon_url}$">
	 <div style="text-align: left; margin-top: 12px;">		
        <b><a href="${iurl}$">${title}$</a></b></br>
        ${subtitle}$
	 </div>		
</div>
${:end-for}$

${ if prevPage or nextPage: }$
<div style="text-align: right; width:90%; margin-left: 5%; margin-bottom: 8px;">
${print pager()}$
</div>
${:endif}$
